<!DOCTYPE html>
<html lang="en">

{{> header }}

<body>

    {{> navbar }}

    <div class="titulo">
        <h1>OFFICIAL WORLD RECORD</h1>
    </div>

    <div class="row" style="margin: 40px;">

        <div class="col-8">
            <div style="margin-left: 25%;">
                <p>Nombre : Victoria</p> <br>
                <p>Edad   : Desconocida</p><br>
                <p>Record : Tener los bigotes más grandes en la casa de Blan</p><br>
                <p>Trasfondo : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos repudiandae a beatae repellendus velit ipsum ullam. Deleniti nisi accusamus voluptas doloremque, at beatae eos id unde esse consectetur ut. Deserunt. <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi amet asperiores dolore eveniet! Reiciendis repellendus, voluptates delectus corrupti aspernatur at perspiciatis accusamus excepturi, sapiente dicta nostrum omnis impedit voluptatem voluptatum?
                </p>
            </div>
        </div>

        <div class="col-4">
            <img src="assets/img/victoria.png" class="img-thumbnail" width="200" >
        </div>

    </div>

    {{> footer }}

</body>

</html>